<%= form_for(enquiry) do |f| %>
  <% if enquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

      <ul>
      <% enquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :enquiry_date %>
    <%= f.datetime_select :enquiry_date %>
  </div>

  <div class="field">
    <%= f.label :pax %>
    <%= f.number_field :pax %>
  </div>

  <div class="field">
    <%= f.label :max_cost %>
    <%= f.number_field :max_cost %>
  </div>

  <div class="field">
    <%= f.label :min_cost %>
    <%= f.number_field :min_cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
